/* Font Family (Poppins) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    list-style: none;
    scroll-behavior: smooth;

    text-decoration: none;
    letter-spacing: .1rem;
}

:root {
    --sizeIndex: 1vw + 1vh;
    --mainColor: hsl(56, 98%, 77%);
}

::placeholder {
    color: #000;
    opacity: .75;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Notes */
.notes-container {
    max-width: 1250px;
    min-height: 100vh;

    margin-inline: auto;
    padding: 1em;
}

.notes-list {
    margin-top: calc(var(--sizeIndex) * 5);
    margin-inline: auto;

    display: grid;
    gap: 1.5em;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.note {
    background-color: var(--mainColor);
    border-radius: 10px;
    padding: 1rem;
    height: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;
}

.note-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete-icon {
    cursor: pointer;
}

.new.note {
    background-color: #67d7cc;
}

textarea {
    font-size: calc(var(--sizeIndex) * 1);
    border: none;
    resize: none;
    background-color: #67d7cc;
}

textarea:focus {
    outline: none;
}

.save-button {
    background-color: #e1e1e1;
    border: none;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
}

.save-button:hover {
    background-color: #ededed;
    cursor: pointer;
}